<div>
  <h1>Big Brotherissa tapahtuu!</h1>

  <p
    style="margin-bottom: 0;"
  >
    Mistä on kyse? Tsekkaa BB 24/7 Ruudusta:
  </p>

  <div
    style="margin: 24px 0;"
  >
    <button
      style="
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: teal;
        border: none;
      "
    >
      <a
        href="https://www.ruutu.fi/channel/83"
        target="_blank"
        style="
          text-decoration: none;
          padding: 12px 24px;
          color: white;
          display: block;
        "
      >
        Kamera 1
      </a>
    </button>

    <button
      style="
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: teal;
        border: none;
      "
    >
      <a
        href="https://www.ruutu.fi/channel/84"
        target="_blank"
        style="
        text-decoration: none;
          padding: 12px 24px;
          color: white;
          display: block;
        "
      >
        Kamera 2
      </a>
    </button>
  </div>

</div>
