<div
  style="
    max-width: 400px;
    margin: 0 auto;
  "
>
  <h1>Big Brotherissa tapahtuu!</h1>

  <p
    style="margin-bottom: 0;"
  >
    Mistä on kyse? Tsekkaa BB 24/7 Ruudusta:
  </p>

  <div
    style="margin: 24px 0;"
  >
    <button
      style="
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: teal;
        border: none;
      "
    >
      <a
        href="https://www.ruutu.fi/channel/83"
        target="_blank"
        style="
          text-decoration: none;
          padding: 12px 24px;
          color: white;
          display: block;
        "
      >
        Kamera 1
      </a>
    </button>

    <button
      style="
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: teal;
        border: none;
      "
    >
      <a
        href="https://www.ruutu.fi/channel/84"
        target="_blank"
        style="
        text-decoration: none;
          padding: 12px 24px;
          color: white;
          display: block;
        "
      >
        Kamera 2
      </a>
    </button>
  </div>

  <div>
    Ystävällisin terveisin,
    <br>
    bbseuranta.fi
  </div>

  <div
    style="margin-top: 16px;"
  >
    Ps. Muistathan myös itse
    <a
      href="https://bbseuranta.fi"
      target="_blank"
    >vinkata</a>, jos näet jotain mehukasta katsottavaa!
  </div>

  <hr
    style="margin: 24px 0;"
  >

  <div>

    <h2>
      Miksi sain tämän ilmoituksen?
    </h2>

    <p>
      Olet pyytänyt
      <a href="https://bbseuranta.fi" target="_blank">bbseuranta.fi</a>:tä lähettämään ilmoituksen,
      <br>
      kun BB-talossa tapahtuu.
    </p>
  </div>

  <div>
    <button
      style="
        padding: 0;
        background-color: transparent;
        border: none;
      "
    >
      <a
        href="https://bbseuranta.fi?id=<%= @recipient.id %>"
        target="_blank"
        style="
          text-decoration: none;
          color: red;
          display: block;
        "
      >
        Poista ilmoitukset käytöstä
      </a>
    </button>
  </div>

</div>
