<!DOCTYPE html>
<html>
<head>
  <title>bbseuranta.fi | Kun haluat nähdä ne mehukkaimmat hetket livenä.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application-vue' %>
  <%= favicon_link_tag asset_path 'bell-96x96.png' %>

  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script src="https://tapir.bbseuranta.fi/script.js" data-site="FPDMLQFM" defer />

</head>
<body>

  <div id="app"/>

</body>
</html>
